<% provide(:title, "ログイン") %>

<div class="row">
	<div class="span6 offset1 signin-wrapper">

		<h1>MPoster にログイン</h1>

		<div class="login_info">
			デモアカウント<br />
			メールアドレス : admin@example.co.jp<br />
			パスワード　　 : foobar
		</div>

		<%= form_tag sessions_path do %>

			<%= label_tag :email, "メールアドレス", class: "visuallyhidden" %>
			<%= text_field_tag :email, "", placeholder: "ユーザ名、またはメールアドレス" %>

			<%= label_tag :password, "パスワード", class: "visuallyhidden" %>
			<%= password_field_tag :password, "", placeholder: "パスワード" %>

			<%= submit_tag "ログイン", class: "btn btn-login" %>
		<% end %>

		<p>新規ユーザの場合、<%= link_to "アカウント登録", signup_path %>へ</p>
	</div>
</div>